/* Ce fichier styles.css stylise le jeu, y compris la mise en page de la grille, les boutons, et le design réactif. */

* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #fff;
    text-align: center;
}


body {
    background-color: #000;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    font-size: 8vmin;
    color: #070d5f;
    background-color: #fff;
}

#reset-btn {
    padding: 1rem;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 5rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.footer {
    margin: 50px;
    text-align: center;
    color: white;
}
